#bodym{
  background-color: #ffffff;
}
#htmlm{
  height: 2800px;
}
.imgtop{
  position: absolute;
  top: 10;
  left: 20;
  -webkit-filter: invert(0);
  left: 100px;
  
}
.img1{
  height: 50px;
}
#projectpixel{
  position: absolute;
  color: #190019;
  font-family: sans-serif;
  font-weight: 500;
  top: 35px;
  left: 165px;
  font-size: 23px;
}

button1 {
  font-size: 17px;
  color: #000000;
  font-family: sans-serif;
  margin: 55px;
  cursor: pointer;
  position: relative;
  border: none;
  background: none;
  text-transform: uppercase;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
  top: 14px;
  left: 720px;
}

button1:focus,
button1:hover {
  color: #000788;
}

button1:focus:after,
button1:hover:after {
  width: 100%;
  left: 0%;
}

button1:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #110095;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}

#projecteli{
  position: relative;
  text-align: center;
  max-width: 20ch;
  color: #000000;
  font-size: 50px;
  font-family: sans-serif;
  left: 440px;
  top: 80px;
  font-size: 60px;
}
#colorspeed{
  color: #1b00b2;
}

#slogan{
  position: relative;
  color: #2B124C;
  max-width: 58ch;
  font-family: sans-serif;
  text-align: center;
  font-size: 20px;
  top: 50px;
  left: 450px;
}

#codeless{
  position: relative;
  color: #000000;
  font-family: sans-serif;
  font-size: 30px;
  top: 120px;
  text-align: center;
}
#purpid{
  color: #0300ad;
}


button {
  position: relative;
  padding: 10px 20px;
  text-transform: uppercase;
  border-radius: 20px;
  font-size: 17px;
  font-weight: 500;
  color: #000000;
  text-shadow: none;
  background: transparent;
  box-shadow: transparent;
  border: 1px solid #000000;
  transition: 0.5s ease;
  user-select: none;
  margin: 30px;
  top: 100px;
  left: 130px;
}

#btn:hover,:focus {
  color: #ffffff;
  background: #1900bb;
  border: 1px solid #775cff;
  text-shadow: 0 0 5px #ffffff;
              
  box-shadow: 0 0 5px #1300bb,
             
}







.input_src {
  position: relative;
  top: 145px;
  left: 500px;
  border: 2px;
  width: 450px;
  height: 60px;
  padding-left: 0.8em;
  outline: none;
  overflow: hidden;
  background-color: #000292;
  border-radius: 60px;
  transition: all 0.5s;
  z-index: 2;
}

.input_src:hover,
.input_src:focus {
  border: 2px solid #ffffff;
  box-shadow: 0px 0px 0px 7px rgb(131, 117, 255);
  background-color: #ffffff;
}





.card_hm {
  position: absolute;
  top: 755px;
  left: 0px;
  width: 250px;
  height: 250px;
  border-radius: 30px;
  background: #1900bb;
}

button4 {
  position: absolute;
  left: 50px;
  top: 870px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 25px;
  border: none;
  background: none;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  
}

button4::before {
  margin-left: 0px;
}

button4::after, button4::before {
  
  content: '';
  width: 0px;
  height: 2px;
  background: #ffffff;
  display: block;
  transition: 0.5s;
}

button4:hover::after, button4:hover::before {
  width: 130px;

}






.card_hm2 {
  position: absolute;
  top: 755px;
  left: 275px;
  width: 250px;
  height: 250px;
  border-radius: 30px;
  background: #000000;
}
.containercr2 {
  position: relative;
  top: 225px;
  left: 335px;
  width: 1px;
}

.label {
  height: 60px;
  width: 120px;
  background-color: #ffffff;
  border-radius: 30px;
  -webkit-box-shadow: inset 0 0 5px 4px rgba(255, 255, 255, 1),
    inset 0 0 20px 1px rgba(0, 0, 0, 0.488), 10px 20px 30px rgba(0, 0, 0, 0.096),
    inset 0 0 0 3px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 5px 4px rgba(255, 255, 255, 1),
    inset 0 0 20px 1px rgba(0, 0, 0, 0.488), 10px 20px 30px rgba(0, 0, 0, 0.096),
    inset 0 0 0 3px rgba(0, 0, 0, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
}

.label:hover {
  -webkit-transform: perspective(100px) rotateX(5deg) rotateY(-5deg);
  transform: perspective(100px) rotateX(5deg) rotateY(-5deg);
}

#checkbox:checked ~ .label:hover {
  -webkit-transform: perspective(100px) rotateX(-5deg) rotateY(5deg);
  transform: perspective(100px) rotateX(-5deg) rotateY(5deg);
}

#checkbox {
  display: none;
}

#checkbox:checked ~ .label::before {
  left: 70px;
  background-color: #000000;
  background-image: linear-gradient(315deg, #000000 0%, #414141 70%);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.label::before {
  position: absolute;
  content: "";
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: #000000;
  background-image: linear-gradient(
    130deg,
    #757272 10%,
    #ffffff 11%,
    #726f6f 62%
  );
  left: 10px;
  -webkit-box-shadow: 0 2px 1px rgba(0, 0, 0, 0.3), 10px 10px 10px rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.3), 10px 10px 10px rgba(0, 0, 0, 0.3);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}






.card_hm3 {
  position: absolute;
  top: 755px;
  left: 545px;
  width: 250px;
  height: 250px;
  border-radius: 30px;
  background: #1900bb;
}
.loader {
  position: absolute;
  top: 165px;
  left: 638px;
  --dim: 3rem;
  width: var(--dim);
  height: var(--dim);
  position: relative;
  animation: spin988 2s linear infinite;
}

.loader .circle {
  --color: #ffffff;
  --dim: 1.2rem;
  width: var(--dim);
  height: var(--dim);
  background-color: var(--color);
  border-radius: 50%;
  position: absolute;
}
.loader .circle:nth-child(1) {
  top: 0;
  left: 0;
}
.loader .circle:nth-child(2) {
  top: 0;
  right: 0;
}
.loader .circle:nth-child(3) {
  bottom: 0;
  left: 0;
}
.loader .circle:nth-child(4) {
  bottom: 0;
  right: 0;
}
@keyframes spin988 {
  0% {
    transform: scale(1) rotate(0);
  }
  20%, 25% {
    transform: scale(1.3) rotate(90deg);
  }
  45%, 50% {
    transform: scale(1) rotate(180deg);
  }
  70%, 75% {
    transform: scale(1.3) rotate(270deg);
  }
  95%, 100% {
    transform: scale(1) rotate(360deg);
  }
}






.card_hm4 {
  position: absolute;
  top: 755px;
  left: 815px;
  width: 250px;
  height: 250px;
  border-radius: 30px;
  background: #000000;
}
.checkbox-wrapper-4 * {
  box-sizing: border-box;
  color: rgb(255, 255, 255);
}

.checkbox-wrapper-4 .cbx {
  font-family: sans-serif;
  position: absolute;
  left: 890px;
  top: 865px;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
  padding: 6px 8px;
  border-radius: 6px;
  overflow: hidden;
  transition: all 0.2s ease;
  display: inline-block;
}

.checkbox-wrapper-4 .cbx:not(:last-child) {
  margin-right: 6px;
}

.checkbox-wrapper-4 .cbx:hover {
  background: rgba(0,119,255,0.06);
}

.checkbox-wrapper-4 .cbx span {
  float: left;
  vertical-align: middle;
  transform: translate3d(0, 0, 0);
}

.checkbox-wrapper-4 .cbx span:first-child {
  position: relative;
  width: 18px;
  height: 18px;
  border-radius: 4px;
  transform: scale(1);
  border: 1px solid #ffffff;
  transition: all 0.2s ease;
  box-shadow: 0 1px 1px rgba(0,16,75,0.05);
}

.checkbox-wrapper-4 .cbx span:first-child svg {
  position: absolute;
  top: 3px;
  left: 2px;
  fill: none;
  stroke: #fff;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 16px;
  stroke-dashoffset: 16px;
  transition: all 0.3s ease;
  transition-delay: 0.1s;
  transform: translate3d(0, 0, 0);
}

.checkbox-wrapper-4 .cbx span:last-child {
  padding-left: 8px;
  line-height: 18px;
}

.checkbox-wrapper-4 .cbx:hover span:first-child {
  border-color: #1900bb;
}

.checkbox-wrapper-4 .inp-cbx {
  position: absolute;
  visibility: hidden;
}

.checkbox-wrapper-4 .inp-cbx:checked + .cbx span:first-child {
  background: #07f;
  border-color: #07f;
  animation: wave-4 0.4s ease;
}

.checkbox-wrapper-4 .inp-cbx:checked + .cbx span:first-child svg {
  stroke-dashoffset: 0;
}

.checkbox-wrapper-4 .inline-svg {
  position: absolute;
  width: 0;
  height: 0;
  pointer-events: none;
  user-select: none;
}

@media screen and (max-width: 640px) {
  .checkbox-wrapper-4 .cbx {
    width: 100%;
    display: inline-block;
  }
}

@-moz-keyframes wave-4 {
  50% {
    transform: scale(0.9);
  }
}

@-webkit-keyframes wave-4 {
  50% {
    transform: scale(0.9);
  }
}

@-o-keyframes wave-4 {
  50% {
    transform: scale(0.9);
  }
}

@keyframes wave-4 {
  50% {
    transform: scale(0.9);
  }
}








.card_hm5 {
  position: absolute;
  top: 755px;
  left: 1085px;
  width: 250px;
  height: 250px;
  border-radius: 30px;
  background: #1900bb;
}
.inputcr {
  position: absolute;
  top: 860px;
  left: 1125px;
  border: none;
  outline: none;
  border-radius: 15px;
  padding: 1em;
  background-color: #ccc;
  box-shadow: inset 2px 5px 10px rgba(0,0,0,0.3);
  transition: 300ms ease-in-out;
}

.inputcr:focus {
  background-color: white;
  transform: scale(1.05);
  box-shadow: 13px 13px 100px #969696,
             -13px -13px 100px #ffffff;
}







.card_hm6 {
  position: absolute;
  top: 755px;
  left: 1358px;
  width: 155px;
  height: 250px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  background: #000000;
}
.btn {
  display: inline-block;
  padding: 0.8rem 0.5rem;
  font-size: 16px;
  font-weight: 700;
  color: white;
  border: 3px solid #1900bb;
  cursor: pointer;
  position: absolute;
  background-color: transparent;
  text-decoration: none;
  overflow: hidden;
  z-index: 1;
  font-family: inherit;
  left: 1408px;
  top: 865px;
  width: 84px;
 }
 
 .btn::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100px;
  height: 100px;
  background-color: rgb(118, 120, 255);
  transform: translateX(-100%);
  transition: all .3s;
  z-index: -1;
 }
 
 .btn:hover::before {
  transform: translateX(0);
 }






 .card_hm7 {
  position: absolute;
  top: 1030px;
  left: 0px;
  width: 150px;
  height: 250px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  background: #000000;
}
.inputcr7 {
  position: absolute;
  left: 0px;
  top: 1120px;
  width: 50px;
  max-width: 220px;
  height: 45px;
  padding: 12px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  border: 1.5px solid lightgrey;
  outline: none;
  transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  box-shadow: 0px 0px 20px -18px;
}

.inputcr7:hover {
  border: 2px solid lightgrey;
  box-shadow: 0px 0px 20px -17px;
}

.inputcr7:active {
  transform: scale(0.95);
}

.inputcr7:focus {
  border: 2px solid grey;
}






.card_hm8 {
  position: absolute;
  top: 1030px;
  left: 170px;
  width: 250px;
  height: 250px;
  border-radius: 30px;
  background: #000000;
}
.wheel-and-hamster {
  --dur: 1s;
  position: absolute;
  left: 210px;
  top: 1070px;
  width: 12em;
  height: 12em;
  font-size: 14px;
}

.wheel,
.hamster,
.hamster div,
.spoke {
  position: absolute;
}

.wheel,
.spoke {
  border-radius: 50%;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.wheel {
  background: radial-gradient(100% 100% at center,hsla(0,0%,60%,0) 47.8%,hsl(0,0%,60%) 48%);
  z-index: 2;
}

.hamster {
  animation: hamster var(--dur) ease-in-out infinite;
  top: 50%;
  left: calc(50% - 3.5em);
  width: 7em;
  height: 3.75em;
  transform: rotate(4deg) translate(-0.8em,1.85em);
  transform-origin: 50% 0;
  z-index: 1;
}

.hamster__head {
  animation: hamsterHead var(--dur) ease-in-out infinite;
  background: hsl(30,90%,55%);
  border-radius: 70% 30% 0 100% / 40% 25% 25% 60%;
  box-shadow: 0 -0.25em 0 hsl(30,90%,80%) inset,
		0.75em -1.55em 0 hsl(30,90%,90%) inset;
  top: 0;
  left: -2em;
  width: 2.75em;
  height: 2.5em;
  transform-origin: 100% 50%;
}

.hamster__ear {
  animation: hamsterEar var(--dur) ease-in-out infinite;
  background: hsl(0,90%,85%);
  border-radius: 50%;
  box-shadow: -0.25em 0 hsl(30,90%,55%) inset;
  top: -0.25em;
  right: -0.25em;
  width: 0.75em;
  height: 0.75em;
  transform-origin: 50% 75%;
}

.hamster__eye {
  animation: hamsterEye var(--dur) linear infinite;
  background-color: hsl(0,0%,0%);
  border-radius: 50%;
  top: 0.375em;
  left: 1.25em;
  width: 0.5em;
  height: 0.5em;
}

.hamster__nose {
  background: hsl(0,90%,75%);
  border-radius: 35% 65% 85% 15% / 70% 50% 50% 30%;
  top: 0.75em;
  left: 0;
  width: 0.2em;
  height: 0.25em;
}

.hamster__body {
  animation: hamsterBody var(--dur) ease-in-out infinite;
  background: hsl(30,90%,90%);
  border-radius: 50% 30% 50% 30% / 15% 60% 40% 40%;
  box-shadow: 0.1em 0.75em 0 hsl(30,90%,55%) inset,
		0.15em -0.5em 0 hsl(30,90%,80%) inset;
  top: 0.25em;
  left: 2em;
  width: 4.5em;
  height: 3em;
  transform-origin: 17% 50%;
  transform-style: preserve-3d;
}

.hamster__limb--fr,
.hamster__limb--fl {
  clip-path: polygon(0 0,100% 0,70% 80%,60% 100%,0% 100%,40% 80%);
  top: 2em;
  left: 0.5em;
  width: 1em;
  height: 1.5em;
  transform-origin: 50% 0;
}

.hamster__limb--fr {
  animation: hamsterFRLimb var(--dur) linear infinite;
  background: linear-gradient(hsl(30,90%,80%) 80%,hsl(0,90%,75%) 80%);
  transform: rotate(15deg) translateZ(-1px);
}

.hamster__limb--fl {
  animation: hamsterFLLimb var(--dur) linear infinite;
  background: linear-gradient(hsl(30,90%,90%) 80%,hsl(0,90%,85%) 80%);
  transform: rotate(15deg);
}

.hamster__limb--br,
.hamster__limb--bl {
  border-radius: 0.75em 0.75em 0 0;
  clip-path: polygon(0 0,100% 0,100% 30%,70% 90%,70% 100%,30% 100%,40% 90%,0% 30%);
  top: 1em;
  left: 2.8em;
  width: 1.5em;
  height: 2.5em;
  transform-origin: 50% 30%;
}

.hamster__limb--br {
  animation: hamsterBRLimb var(--dur) linear infinite;
  background: linear-gradient(hsl(30,90%,80%) 90%,hsl(0,90%,75%) 90%);
  transform: rotate(-25deg) translateZ(-1px);
}

.hamster__limb--bl {
  animation: hamsterBLLimb var(--dur) linear infinite;
  background: linear-gradient(hsl(30,90%,90%) 90%,hsl(0,90%,85%) 90%);
  transform: rotate(-25deg);
}

.hamster__tail {
  animation: hamsterTail var(--dur) linear infinite;
  background: hsl(0,90%,85%);
  border-radius: 0.25em 50% 50% 0.25em;
  box-shadow: 0 -0.2em 0 hsl(0,90%,75%) inset;
  top: 1.5em;
  right: -0.5em;
  width: 1em;
  height: 0.5em;
  transform: rotate(30deg) translateZ(-1px);
  transform-origin: 0.25em 0.25em;
}

.spoke {
  animation: spoke var(--dur) linear infinite;
  background: radial-gradient(100% 100% at center,hsl(0,0%,60%) 4.8%,hsla(0,0%,60%,0) 5%),
		linear-gradient(hsla(0,0%,55%,0) 46.9%,hsl(0,0%,65%) 47% 52.9%,hsla(0,0%,65%,0) 53%) 50% 50% / 99% 99% no-repeat;
}

/* Animations */
@keyframes hamster {
  from, to {
    transform: rotate(4deg) translate(-0.8em,1.85em);
  }

  50% {
    transform: rotate(0) translate(-0.8em,1.85em);
  }
}

@keyframes hamsterHead {
  from, 25%, 50%, 75%, to {
    transform: rotate(0);
  }

  12.5%, 37.5%, 62.5%, 87.5% {
    transform: rotate(8deg);
  }
}

@keyframes hamsterEye {
  from, 90%, to {
    transform: scaleY(1);
  }

  95% {
    transform: scaleY(0);
  }
}

@keyframes hamsterEar {
  from, 25%, 50%, 75%, to {
    transform: rotate(0);
  }

  12.5%, 37.5%, 62.5%, 87.5% {
    transform: rotate(12deg);
  }
}

@keyframes hamsterBody {
  from, 25%, 50%, 75%, to {
    transform: rotate(0);
  }

  12.5%, 37.5%, 62.5%, 87.5% {
    transform: rotate(-2deg);
  }
}

@keyframes hamsterFRLimb {
  from, 25%, 50%, 75%, to {
    transform: rotate(50deg) translateZ(-1px);
  }

  12.5%, 37.5%, 62.5%, 87.5% {
    transform: rotate(-30deg) translateZ(-1px);
  }
}

@keyframes hamsterFLLimb {
  from, 25%, 50%, 75%, to {
    transform: rotate(-30deg);
  }

  12.5%, 37.5%, 62.5%, 87.5% {
    transform: rotate(50deg);
  }
}

@keyframes hamsterBRLimb {
  from, 25%, 50%, 75%, to {
    transform: rotate(-60deg) translateZ(-1px);
  }

  12.5%, 37.5%, 62.5%, 87.5% {
    transform: rotate(20deg) translateZ(-1px);
  }
}

@keyframes hamsterBLLimb {
  from, 25%, 50%, 75%, to {
    transform: rotate(20deg);
  }

  12.5%, 37.5%, 62.5%, 87.5% {
    transform: rotate(-60deg);
  }
}

@keyframes hamsterTail {
  from, 25%, 50%, 75%, to {
    transform: rotate(30deg) translateZ(-1px);
  }

  12.5%, 37.5%, 62.5%, 87.5% {
    transform: rotate(10deg) translateZ(-1px);
  }
}

@keyframes spoke {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(-1turn);
  }
}









.card_hm9 {
  position: absolute;
  top: 1030px;
  left: 440px;
  width: 250px;
  height: 250px;
  border-radius: 30px;
  background: #000000;
}
buttoncr9 {
  position: absolute;
  left: 520px;
  top: 1140px;
  border: none;
  color: #fff;
  background-image: linear-gradient(30deg, #0400ff, #4ce3f7);
  border-radius: 20px;
  background-size: 100% auto;
  font-family: inherit;
  font-size: 17px;
  padding: 0.6em 1.5em;
 }
 
 buttoncr9:hover {
  background-position: right center;
  background-size: 200% auto;
  -webkit-animation: pulse 2s infinite;
  animation: pulse512 1.5s infinite;
 }
 
 @keyframes pulse512 {
  0% {
   box-shadow: 0 0 0 0 #05bada66;
  }
 
  70% {
   box-shadow: 0 0 0 10px rgb(218 103 68 / 0%);
  }
 
  100% {
   box-shadow: 0 0 0 0 rgb(218 103 68 / 0%);
  }
 }







 .card_hm10 {
  position: absolute;
  top: 1030px;
  left: 712px;
  width: 250px;
  height: 250px;
  border-radius: 30px;
  background: #000000;
}
.radio-inputs {
  position: absolute;
  left: 730px;
  top: 1120px;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 350px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.radio-inputs > * {
  margin: 4px;
}

.instagram:checked + .radio-tile {
  border-color: #cc39a4;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  color: #cc39a4;
}

.instagram:checked + .radio-tile:before {
  transform: scale(1);
  opacity: 1;
  background-color: #cc39a4;
  border-color: #cc39a4;
}

.instagram:checked + .radio-tile .radio-icon svg {
  fill: #fff;
}

.instagram:checked + .radio-tile .radio-label {
  color: #cc39a4;
}

.instagram:focus + .radio-tile {
  background-color: #cc39a4;
  border-color: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1), 0 0 0 4px #b5c9fc;
}
.instagram:checked + .radio-tile {
  background-color: #cc39a4;
  border-color: #fff;
}

.instagram:focus + .radio-tile:before {
  transform: scale(1);
  opacity: 1;
}

/*  Twitter */
.twitter:checked + .radio-tile {
  border-color: #03a9f4;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  color: #03a9f4;
}

.twitter:checked + .radio-tile:before {
  transform: scale(1);
  opacity: 1;
  background-color: #03a9f4;
  border-color: #03a9f4;
}

.twitter:checked + .radio-tile .radio-icon svg {
  fill: #fff;
}

.twitter:checked + .radio-tile .radio-label {
  color: #03a9f4;
}

.twitter:focus + .radio-tile {
  background-color: #03a9f4;
  border-color: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1), 0 0 0 4px #b5c9fc;
}
.twitter:checked + .radio-tile {
  background-color: #03a9f4;
  border-color: #fff;
}

.twitter:focus + .radio-tile:before {
  transform: scale(1);
  opacity: 1;
}
/* discord */
.discord:checked + .radio-tile {
  border-color: #8c9eff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  color: #8c9eff;
}

.discord:checked + .radio-tile:before {
  transform: scale(1);
  opacity: 1;
  background-color: #8c9eff;
  border-color: #8c9eff;
}

.discord:checked + .radio-tile .radio-icon svg {
  fill: #fff;
}

.discord:checked + .radio-tile .radio-label {
  color: #8c9eff;
}

.discord:focus + .radio-tile {
  background-color: #8c9eff;
  border-color: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1), 0 0 0 4px #b5c9fc;
}
.discord:checked + .radio-tile {
  background-color: #8c9eff;
  border-color: #fff;
}

.discord:focus + .radio-tile:before {
  transform: scale(1);
  opacity: 1;
}

.radio-tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60px;
  min-height: 60px;
  border-radius: 0.5rem;
  border: 2px solid #b5bfd9;
  background-color: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  transition: 0.15s ease;
  cursor: pointer;
  position: relative;
}

.instagram:hover {
  border-color: #cc39a4;
}
.twitter:hover {
  border-color: #03a9f4;
}
.discord:hover {
  border-color: #8c9eff;
}

.radio-tile:hover:before {
  transform: scale(1);
  opacity: 1;
}

.radio-icon svg {
  width: 2rem;
  height: 2rem;
}
.instagram {
  fill: #cc39a4;
}
.twitter {
  fill: #03a9f4;
}
.discord {
  fill: #8c9eff;
}

.radio-label {
  color: #707070;
  transition: 0.375s ease;
  text-align: center;
  font-size: 13px;
}

.radio-input {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}










.card_hm11 {
  position: absolute;
  top: 1030px;
  left: 985px;
  width: 250px;
  height: 250px;
  border-radius: 30px;
  background: #000000;
}
.rating:not(:checked) > input {
  
  appearance: none;
}

.rating:not(:checked) > label {
  float: right;
  position: absolute;
  cursor: pointer;
  font-size: 30px;
  top: 1125px;
  left: 1095px;
  color: #666;
}

.rating:not(:checked) > label:before {
  content: '★';
}
.rating > input:checked ~ label {
  color: #ffa723;
}








.card_hm12 {
  position: absolute;
  top: 1030px;
  left: 1263px;
  width: 250px;
  height: 250px;
  border-radius: 30px;
  background: #000000;
}
.loading {
  position: absolute;
  left: 1340px;
  top: 1105px;
  --speed-of-animation: 0.9s;
  --gap: 6px;
  --first-color: #4c86f9;
  --second-color: #49a84c;
  --third-color: #f6bb02;
  --fourth-color: #f6bb02;
  --fifth-color: #2196f3;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  gap: 6px;
  height: 100px;
 }
 
 .loading span {
  width: 4px;
  height: 50px;
  background: var(--first-color);
  animation: scale var(--speed-of-animation) ease-in-out infinite;
 }
 
 .loading span:nth-child(2) {
  background: var(--second-color);
  animation-delay: -0.8s;
 }
 
 .loading span:nth-child(3) {
  background: var(--third-color);
  animation-delay: -0.7s;
 }
 
 .loading span:nth-child(4) {
  background: var(--fourth-color);
  animation-delay: -0.6s;
 }
 
 .loading span:nth-child(5) {
  background: var(--fifth-color);
  animation-delay: -0.5s;
 }
 
 @keyframes scale {
  0%, 40%, 100% {
   transform: scaleY(0.05);
  }
 
  20% {
   transform: scaleY(1);
  }
 }








 .card_hm13 {
  position: absolute;
  top: 1305px;
  left: 1px;
  width: 250px;
  height: 250px;
  border-radius: 30px;
  background: #1900bb;
}
.loadercr13 {
  position: absolute;
  left: 55px;
  top: 600px;
  width: 120px;
  height: 150px;
  background-color: #fff;
  background-repeat: no-repeat;
  background-image: linear-gradient(#ddd 50%, #bbb 51%),
    linear-gradient(#ddd, #ddd), linear-gradient(#ddd, #ddd),
    radial-gradient(ellipse at center, #aaa 25%, #eee 26%, #eee 50%, #0000 55%),
    radial-gradient(ellipse at center, #aaa 25%, #eee 26%, #eee 50%, #0000 55%),
    radial-gradient(ellipse at center, #aaa 25%, #eee 26%, #eee 50%, #0000 55%);
  background-position: 0 20px, 45px 0, 8px 6px, 55px 3px, 75px 3px, 95px 3px;
  background-size: 100% 4px, 1px 23px, 30px 8px, 15px 15px, 15px 15px, 15px 15px;
  position: relative;
  border-radius: 6%;
  animation: shake 3s ease-in-out infinite;
  transform-origin: 60px 180px;
}

.loadercr13:before {
  content: "";
  position: absolute;
  left: 5px;
  top: 100%;
  width: 7px;
  height: 5px;
  background: #aaa;
  border-radius: 0 0 4px 4px;
  box-shadow: 102px 0 #aaa;
}

.loadercr13:after {
  content: "";
  position: absolute;
  width: 95px;
  height: 95px;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 20px;
  background-color: #bbdefb;
  background-image: linear-gradient( to right, #0004 0%, #0004 49%, #0000 50%, #0000 100% ),
    linear-gradient(135deg, #64b5f6 50%, #607d8b 51%);
  background-size: 30px 100%, 90px 80px;
  border-radius: 50%;
  background-repeat: repeat, no-repeat;
  background-position: 0 0;
  box-sizing: border-box;
  border: 10px solid #DDD;
  box-shadow: 0 0 0 4px #999 inset, 0 0 6px 6px #0004 inset;
  animation: spin 3s ease-in-out infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg)
  }

  50% {
    transform: rotate(360deg)
  }

  75% {
    transform: rotate(750deg)
  }

  100% {
    transform: rotate(1800deg)
  }
}

@keyframes shake {
  65%, 80%, 88%, 96% {
    transform: rotate(0.5deg)
  }

  50%, 75%, 84%, 92% {
    transform: rotate(-0.5deg)
  }

  0%, 50%, 100% {
    transform: rotate(0)
  }
}





.card_hm14 {
  position: absolute;
  top: 1305px;
  left: 282px;
  width: 250px;
  height: 250px;
  border-radius: 30px;
  background: #000000;
}
.flip-card {
  background-color: transparent;
  position: absolute;
  top: 1328px;
  left: 335px;
  width: 150px;
  height: 204px;
  perspective: 1000px;
  font-family: sans-serif;
}

.title {
  font-size: 1.1em;
  font-weight: 900;
  text-align: center;
  margin: 0;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  box-shadow: 0 8px 14px 0 rgba(0,0,0,0.2);
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border: 1px solid coral;
  border-radius: 1rem;
}

.flip-card-front {
  background: linear-gradient(120deg, bisque 60%, rgb(255, 231, 222) 88%,
     rgb(255, 211, 195) 40%, rgba(255, 127, 80, 0.603) 48%);
  color: coral;
}

.flip-card-back {
  background: linear-gradient(120deg, rgb(255, 174, 145) 30%, coral 88%,
     bisque 40%, rgb(255, 185, 160) 78%);
  color: white;
  transform: rotateY(180deg);
}








.card_hm15 {
  position: absolute;
  top: 1305px;
  left: 560px;
  width: 250px;
  height: 250px;
  border-radius: 30px;
  background: #1900bb;
}
.wrapper {
  width: 200px;
  height: 60px;
  position: absolute;
  left: 585px;
  top: 1400px;
  z-index: 1;
}

.circlecr15 {
  width: 20px;
  height: 20px;
  position: absolute;
  border-radius: 50%;
  background-color: #fff;
  left: 15%;
  transform-origin: 50%;
  animation: circle7124 .5s alternate infinite ease;
}

@keyframes circle7124 {
  0% {
    top: 60px;
    height: 5px;
    border-radius: 50px 50px 25px 25px;
    transform: scaleX(1.7);
  }

  40% {
    height: 20px;
    border-radius: 50%;
    transform: scaleX(1);
  }

  100% {
    top: 0%;
  }
}

.circlecr15:nth-child(2) {
  left: 45%;
  animation-delay: .2s;
}

.circlecr15:nth-child(3) {
  left: auto;
  right: 15%;
  animation-delay: .3s;
}

.shadow {
  width: 20px;
  height: 4px;
  border-radius: 50%;
  background-color: rgba(0,0,0,0.9);
  position: absolute;
  top: 62px;
  transform-origin: 50%;
  z-index: -1;
  left: 15%;
  filter: blur(1px);
  animation: shadow046 .5s alternate infinite ease;
}

@keyframes shadow046 {
  0% {
    transform: scaleX(1.5);
  }

  40% {
    transform: scaleX(1);
    opacity: .7;
  }

  100% {
    transform: scaleX(.2);
    opacity: .4;
  }
}

.shadow:nth-child(4) {
  left: 45%;
  animation-delay: .2s
}

.shadow:nth-child(5) {
  left: auto;
  right: 15%;
  animation-delay: .3s;
}








.card_hm16 {
  position: absolute;
  top: 1305px;
  left: 835px;
  width: 250px;
  height: 250px;
  border-radius: 30px;
  background: #000000;
}
buttoncr16 {
  position: absolute;
  left: 900px;
  top: 1400px;
  appearance: none;
  background-color: transparent;
  border: 0.125em solid #ffffff;
  border-radius: 0.9375em;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 3.75em;
  min-width: 0;
  outline: none;
  padding: 1em 2.3em;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform;
 }
 
 buttoncr16:disabled {
  pointer-events: none;
 }
 
 buttoncr16:hover {
  color: #fff;
  background-color: #000000;
  box-shadow: rgb(32, 3, 255) 0 8px 15px;
  transform: translateY(-2px);
 }
 
 buttoncr16:active {
  box-shadow: none;
  transform: translateY(0);
 }







 .card_hm17 {
  position: absolute;
  top: 1305px;
  left: 1110px;
  width: 250px;
  height: 250px;
  border-radius: 30px;
  background: #1900bb;
}
.container {
  width: 300px;
  position: absolute;
  left: 1085px;
  top: 1400px;
  display: flex;
  align-items: center;
  justify-content: center;
  --hue: 220deg;
  --width: 10rem;
  --accent-hue: 22deg;
  --duration: 0.6s;
  --easing: cubic-bezier(1, 0, 1, 1);
}

.togglesw {
  display: none;
}

.switch {
  --shadow-offset: calc(var(--width) / 20);
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  width: var(--width);
  height: calc(var(--width) / 2.5);
  border-radius: var(--width);
  box-shadow: inset 10px 10px 10px hsl(var(--hue) 20% 80%),
    inset -10px -10px 10px hsl(var(--hue) 20% 93%);
}

.indicator {
  content: '';
  position: absolute;
  width: 40%;
  height: 60%;
  transition: all var(--duration) var(--easing);
  box-shadow: inset 0 0 2px hsl(var(--hue) 20% 15% / 60%),
    inset 0 0 3px 2px hsl(var(--hue) 20% 15% / 60%),
    inset 0 0 5px 2px hsl(var(--hue) 20% 45% / 60%);
}

.indicator.left {
  --hue: var(--accent-hue);
  overflow: hidden;
  left: 10%;
  border-radius: 100px 0 0 100px;
  background: linear-gradient(180deg, hsl(calc(var(--accent-hue) + 20deg) 95% 80%) 10%, hsl(calc(var(--accent-hue) + 20deg) 100% 60%) 30%, hsl(var(--accent-hue) 90% 50%) 60%, hsl(var(--accent-hue) 90% 60%) 75%, hsl(var(--accent-hue) 90% 50%));
}

.indicator.left::after {
  content: '';
  position: absolute;
  opacity: 0.6;
  width: 100%;
  height: 100%;
}

.indicator.right {
  right: 10%;
  border-radius: 0 100px 100px 0;
  background-image: linear-gradient(180deg, hsl(var(--hue) 20% 95%), hsl(var(--hue) 20% 65%) 60%, hsl(var(--hue) 20% 70%) 70%, hsl(var(--hue) 20% 65%));
}

.button {
  position: absolute;
  z-index: 1;
  width: 55%;
  height: 80%;
  left: 5%;
  border-radius: 100px;
  background-image: linear-gradient(160deg, hsl(var(--hue) 20% 95%) 40%, hsl(var(--hue) 20% 65%) 70%);
  transition: all var(--duration) var(--easing);
  box-shadow: 2px 2px 3px hsl(var(--hue) 18% 50% / 80%),
    2px 2px 6px hsl(var(--hue) 18% 50% / 40%),
    10px 20px 10px hsl(var(--hue) 18% 50% / 40%),
    20px 30px 30px hsl(var(--hue) 18% 50% / 60%);
}

.button::before, 
.button::after {
  content: '';
  position: absolute;
  top: 10%;
  width: 41%;
  height: 80%;
  border-radius: 100%;
}

.button::before {
  left: 5%;
  box-shadow: inset 1px 1px 2px hsl(var(--hue) 20% 85%);
  background-image: linear-gradient(-50deg, hsl(var(--hue) 20% 95%) 20%, hsl(var(--hue) 20% 85%) 80%);
}

.button::after {
  right: 5%;
  box-shadow: inset 1px 1px 3px hsl(var(--hue) 20% 70%);
  background-image: linear-gradient(-50deg, hsl(var(--hue) 20% 95%) 20%, hsl(var(--hue) 20% 75%) 80%);
}

.togglesw:checked ~ .button {
  left: 40%;
}

.togglesw:not(:checked) ~ .indicator.left,
.togglesw:checked ~ .indicator.right {
  box-shadow: inset 0 0 5px hsl(var(--hue) 20% 15% / 100%),
    inset 20px 20px 10px hsl(var(--hue) 20% 15% / 100%),
    inset 20px 20px 15px hsl(var(--hue) 20% 45% / 100%);
}








.card_hm18 {
  position: absolute;
  top: 1305px;
  left: 1382px;
  width: 130px;
  height: 250px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  background: #000000;
}
.loadingcr18{
  width: 10px;
  position: absolute;
  left: 1448px;
  top: 1410px;
}
.loadingcr18 svg polyline {
  
  fill: none;
  stroke-width: 3;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.loadingcr18 svg polyline#back {
 
  fill: none;
  stroke: #ff4d5063;
}

.loadingcr18 svg polyline#front {
  fill: none;
  stroke: #ff0000;
  stroke-dasharray: 48, 144;
  stroke-dashoffset: 192;
  animation: dash_682 1.4s linear infinite;
}

@keyframes dash_682 {
  72.5% {
    opacity: 0;
  }

  to {
    stroke-dashoffset: 0;
  }
}











.btninend {
  position: absolute;
  font-size: 17px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1em 2.5em;
  display: inline-block;
  border-radius: 30px;
  transition: all .2s;
  border: none;
  font-family: sans-serif;
  font-weight: 500;
  color: black;
  background: linear-gradient(90deg,#03a9f4, #af41f4, #ff29d1, #57caff);
  top: 1500px;
  width: 400px;
  left: 530px;
 }
 
 .btninend:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
 }
 
 .btninend:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
 }
 
 .btninend::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s;
 }
 
 .btninend::after {
  background-color: #fff;
 }
 
 .btninend:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
 }






 #noofcomp{
      font-size: 90px;
      font-family: sans-serif;
      font-weight: 600;
      position: absolute;
      top: 1800px;
      color: #ffffff;
      left: 720px;
      z-index: 2;
 }
 #noofcomptitle{
  font-size: 17px;
  position: absolute;
  font-family: sans-serif;
  color: #c8c5ff;
  top: 1890px;
  left: 710PX;
  z-index: 2;
 }

 #comingsoon{
  color: #ffffff;
  font-family: sans-serif;
  position: absolute;
  font-size: 40px;
  font-weight: 700;
  z-index: 2;
  top: 1760px;
  left: 400px;
 }

 #comingsoontitle{
  font-size: 17px;
  position: absolute;
  font-family: sans-serif;
  z-index: 2;
  color: #cfcaff;
  top: 1890px;
  left: 410PX;
 }

 #freetouse{
  color: #ffffff;
  font-family: sans-serif;
  position: absolute;
  font-size: 75px;
  z-index: 2;
  font-weight: 700;
  top: 1810px;
  left: 980px;
 }

 #freetousetitle{
  font-size: 17px;
  position: absolute;
  font-family: sans-serif;
  color: #c5c6ff;
  z-index: 2;
  top: 1890px;
  left: 990PX;
 }







 .cardforinfo {
  position: absolute;
  top: 1660px;
  left: 0px;
  width: 1513px;
  height: 400px;
  border-radius: 10px;
  z-index: 1;
  background: #1900bb;
              
 }
 
 










 .cardins {
  --bg: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
  --hover-bg: #ffb6e0;
  --hover-text: #E50087;
  font-family: sans-serif;
  text-align: center;
  background: var(--bg);
  padding: 1.5em;
  padding-block: 1.8em;
  border-radius: 65px;
  position: absolute;
  top: 2100px;
  left: 280px;
  height: 300px;
  width: 900px;
  overflow: hidden;
  transition: .3s cubic-bezier(.6,.4,0,1),transform .15s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.card__body {
  color: #ededed;
  line-height: 1.5em;
  font-size: 1em;
}

.cardins > :not(span) {
  transition: .3s cubic-bezier(.6,.4,0,1);
}

.cardins > strong {
  display: block;
  font-size: 1.4rem;
  letter-spacing: -.035em;
}

.cardins span {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--hover-text);
  border-radius: 5px;
  font-weight: bold;
  top: 100%;
  transition: all .3s cubic-bezier(.6,.4,0,1);
}

.cardins:hover span {
  top: 0;
  font-size: 1.2em;
}

.cardins:hover {
  background: var(--hover-bg);
}

.cardins:hover>div,.cardins:hover>strong {
  opacity: 0;
}





#btmtitle{
  position: absolute;
  top: 2500px;
  left: 80px;
  color: #000000;
  font-size: 30px;
  font-weight: 4500;
  font-family: sans-serif;
}
.imgbtm{
  position: absolute;
  top: 2520px;
  left: 25px;
  -webkit-filter: invert(0);
}


#btminfo{
  color: #313131;
  position: absolute;
  top: 2570px;
  left: 33px;
  font-family: sans-serif;
  font-size: 15px;
}
#copyrightbtm{
  color: #474747;
  position: absolute;
  top: 2700px;
  left: 33px;
  font-family: sans-serif;
  font-size: 20px;
}



#btmcookie{
  color: #424242;
  position: absolute;
  top: 2550px;
  left: 1250px;
  font-family: sans-serif;
  font-size: 20px;
}
#btmaboutus{
  color: #535353;
  position: absolute;
  top: 2600px;
  left: 1250px;
  font-family: sans-serif;
  font-size: 20px;
}
#btmprivacy{
  color: #414141;
  position: absolute;
  top: 2650px;
  left: 1250px;
  font-family: sans-serif;
  font-size: 20px;
}
#btmcontact{
  color: #4f4f4f;
  position: absolute;
  top: 2700px;
  left: 1250px;
  font-family: sans-serif;
  font-size: 20px;
}









