#htmlpageid{
    background-color: rgb(255, 255, 255);
    height: 700px;
  }
  
  
  
  #tempname{
  color: #0026ff;
  position: absolute;
  font-size: 60px;
  left: 500px;
  font-family: sans-serif;
  font-weight: bolder;
  }
  
  
  
  
  
  .card_bp1 {
    position: absolute;
    top: 255px;
    left: 150px;
    width: 350px;
    height: 350px;
    border-radius: 30px;
    background: #f0f0f0;
  }


  .cl-checkbox11 {
    position: absolute;
    top: 420px;
    left: 315px;
    display: inline-block;
   }
   
   /* Input */
   .cl-checkbox11 > input {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    z-index: -1;
    position: absolute;
    left: -10px;
    top: -8px;
    display: block;
    margin: 0;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.6);
    box-shadow: none;
    outline: none;
    opacity: 0;
    transform: scale(1);
    pointer-events: none;
    transition: opacity 0.3s, transform 0.2s;
   }
   
   /* Span */
   .cl-checkbox11 > span {
    display: inline-block;
    width: 100%;
    cursor: pointer;
   }
   
   /* Box */
   .cl-checkbox11 > span::before {
    content: "";
    display: inline-block;
    box-sizing: border-box;
    margin: 3px 11px 3px 1px;
    border: solid 2px;
    /* Safari */
    border-color: rgba(0, 0, 0, 0.6);
    border-radius: 2px;
    width: 18px;
    height: 18px;
    vertical-align: top;
    transition: border-color 0.2s, background-color 0.2s;
   }
   
   /* Checkmark */
   .cl-checkbox11 > span::after {
    content: "";
    display: block;
    position: absolute;
    top: 3px;
    left: 1px;
    width: 10px;
    height: 5px;
    border: solid 2px transparent;
    border-right: none;
    border-top: none;
    transform: translate(3px, 4px) rotate(-45deg);
   }
   
   /* Checked, Indeterminate */
   .cl-checkbox11 > input:checked,
   .cl-checkbox11 > input:indeterminate {
    background-color: #018786;
   }
   
   .cl-checkbox11 > input:checked + span::before,
   .cl-checkbox11 > input:indeterminate + span::before {
    border-color: #018786;
    background-color: #018786;
   }
   
   .cl-checkbox11 > input:checked + span::after,
   .cl-checkbox11 > input:indeterminate + span::after {
    border-color: #fff;
   }
   
   .cl-checkbox11 > input:indeterminate + span::after {
    border-left: none;
    transform: translate(4px, 3px);
   }
   
   /* Hover, Focus */
   .cl-checkbox11:hover > input {
    opacity: 0.04;
   }
   
   .cl-checkbox11 > input:focus {
    opacity: 0.12;
   }
   
   .cl-checkbox11:hover > input:focus {
    opacity: 0.16;
   }
   
   /* Active */
   .cl-checkbox11 > input:active {
    opacity: 1;
    transform: scale(0);
    transition: transform 0s, opacity 0s;
   }
   
   .cl-checkbox11 > input:active + span::before {
    border-color: #85b8b7;
   }
   
   .cl-checkbox11 > input:checked:active + span::before {
    border-color: transparent;
    background-color: rgba(0, 0, 0, 0.6);
   }
   
   /* Disabled */
   .cl-checkbox11 > input:disabled {
    opacity: 0;
   }
   
   .cl-checkbox11 > input:disabled + span {
    color: rgba(0, 0, 0, 0.38);
    cursor: initial;
   }
   
   .cl-checkbox11 > input:disabled + span::before {
    border-color: currentColor;
   }
   
   .cl-checkbox11 > input:checked:disabled + span::before,
   .cl-checkbox11 > input:indeterminate:disabled + span::before {
    border-color: transparent;
    background-color: currentColor;
   }
 
  
  button11 {
    font-family: sans-serif;
    height: 20px;
    width: 57px;
    font-size: 14px;
    padding: 1em 2.7em;
    font-weight: 500;
    background: #1f2937;
    color: white;
    border: none;
    position: absolute;
    top: 580px;
    left: 260px;
    overflow: hidden;
    border-radius: 0.6em;
    cursor: pointer;
  }
  
  .gradient11 {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 0.6em;
    margin-top: -0.25em;
    background-image: linear-gradient(
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.3)
    );
  }
  
  .label11 {
    position: relative;
    top: -1px;
  }
  
  .transition11 {
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
    transition-duration: 500ms;
    background-color: rgba(16, 185, 129, 0.6);
    border-radius: 9999px;
    width: 0;
    height: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  
  button11:hover .transition11 {
    width: 14em;
    height: 14em;
  }
  
  button11:active {
    transform: scale(0.97);
  }
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  .card_bp2 {
    position: absolute;
    top: 255px;
    left: 580px;
    width: 350px;
    height: 350px;
    border-radius: 30px;
    background: #000000;
  }
  .cyberpunk-checkbox22 {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #30cfd0;
    border-radius: 5px;
    background-color: transparent;
    display: inline-block;
    margin-right: 10px;
    cursor: pointer;
  }
  
  .cyberpunk-checkbox22:before {
    content: "";
    background-color: #30cfd0;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 10px;
    height: 10px;
    border-radius: 3px;
    transition: all 0.3s ease-in-out;
  }
  
  .cyberpunk-checkbox22:checked:before {
    transform: translate(-50%, -50%) scale(1);
  }
  
  .cyberpunk-checkbox-label22 {
    font-size: 18px;
    color: #ffffff;
    font-family: sans-serif;
    cursor: pointer;
    position: absolute;
    top: 420px;
    left: 700px;
    z-index: 3;
    user-select: none;
    display: flex;
    align-items: center;
  }
  button22 {
    font-family: sans-serif;
    height: 20px;
    width: 57px;
    font-size: 14px;
    padding: 1em 2.7em;
    font-weight: 500;
    background: #1f2937;
    color: white;
    border: none;
    position: absolute;
    top: 580px;
    left: 685px;
    overflow: hidden;
    border-radius: 0.6em;
    cursor: pointer;
  }
  .gradient22 {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 0.6em;
    margin-top: -0.25em;
    background-image: linear-gradient(
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.3)
    );
  }
  
  .label22 {
    position: relative;
    top: -1px;
  }
  
  .transition22 {
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
    transition-duration: 500ms;
    background-color: rgba(16, 185, 129, 0.6);
    border-radius: 9999px;
    width: 0;
    height: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  
  button22:hover .transition22 {
    width: 14em;
    height: 14em;
  }
  
  button22:active {
    transform: scale(0.97);
  }
  
  
  
  
  
  
  
  
  
  
  
  
    
  .card_bp3 {
    position: absolute;
    top: 255px;
    left: 1010px;
    width: 350px;
    height: 350px;
    border-radius: 30px;
    background: #e0e0e0;
  }

  .container33 input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  .container33 {
    display: block;
    position: absolute;
    top: 410px;
    left: 1160px;
    cursor: pointer;
    user-select: none;
  }
  
  .container33 svg {
    position: relative;
    top: 0;
    left: 0;
    height: 50px;
    width: 50px;
    transition: all 0.3s;
    fill: #666;
  }
  
  .container33 svg:hover {
    transform: scale(1.1);
  }
  
  .container33 input:checked ~ svg {
    fill: #ffeb49;
  }
  

  button33 {
    font-family: sans-serif;
    height: 20px;
    width: 57px;
    font-size: 14px;
    padding: 1em 2.7em;
    font-weight: 500;
    background: #1f2937;
    color: white;
    border: none;
    position: absolute;
    top: 580px;
    left: 1115px;
    overflow: hidden;
    border-radius: 0.6em;
    cursor: pointer;
  }
  .gradient33 {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 0.6em;
    margin-top: -0.25em;
    background-image: linear-gradient(
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.3)
    );
  }
  
  .label33 {
    position: relative;
    top: -1px;
  }
  
  .transition33 {
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
    transition-duration: 500ms;
    background-color: rgba(16, 185, 129, 0.6);
    border-radius: 9999px;
    width: 0;
    height: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  
  button33:hover .transition33 {
    width: 14em;
    height: 14em;
  }
  
  button33:active {
    transform: scale(0.97);
  }
  
  
  